@font-face {
  font-family: "Acronym-Thin";
  src: url("../../fonts/Acronym-Thin.otf");
}

@font-face {
  font-family: "Sequel-sans-light";
  src: url("../../fonts/sequel-sans-light-obl-head.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../../fonts/Roboto-Thin.ttf");
}
