// screen
$sm: 575px;
$md: 767px;
$lg: 1023px;
$xl: 1439px;

// colors
$white: #ffffff;
$black-gray: #4d4d4d;
$gray-light: #ececec;
$gray-green-light: #c5dad6;
$gray-high-light: #f5f5f5;
$pink-light: #e9d9d8;

// fonts
$acronym-thin: "Acronym-Thin";
$sequel-sans-light: "Sequel-sans-light";
$roboto-light: "Roboto-Light";
$roboto-thin: "Roboto-Thin";
